.button {
  display: block;
  padding: 10px 24px;
  color: var(--primary);
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    color: var(--secondary);
    background: transparent;
  }

  &--link {
    text-decoration: none;
    text-align: center;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
  }
}
