.service-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 20%;
  text-align: center;

  &__icon-container {
    margin: 0 auto;
    padding: 32px;
    border-radius: 16px;
    background: var(--secondary-light);
  }

  &__icon {
    fill: var(--secondary);
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
  }
}
