:root {
  --primary: #FFFFFF;
  --secondary: #1572D3;

  --color-primary: #242424;
  --color-secondary: #272727;

  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
