.footer {
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
  position: relative;

  &__container {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 50%;
      flex-direction: row;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__socials-icon {
    fill: var(--color-primary-light);
  }

  &__socials-icon:hover {
    fill: var(--color-brand-normal);
  }

  &__address-copyright {
    color: var(--color-secondary-dark);
    font-size: 14px;
  }
}
